# General
NODE_ENV="development"
HOST="localhost"
PORT=5001
SESSION_SECRET="secret"
API_KEY="api-key"
CRON_SECRET="cron-secret"

# Database
POSTGRES_HOST="localhost"
POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
POSTGRES_DATABASE="recording-oracle"
POSTGRES_PORT=5432
POSTGRES_SSL=false

# Web3
WEB3_PRIVATE_KEY="0x59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d"
RPC_URL_LOCALHOST="http://localhost:8545"

# S3
S3_ENDPOINT="localhost"
S3_PORT=9000
S3_ACCESS_KEY="user"
S3_SECRET_KEY="password"
S3_BUCKET="recordings"
S3_USE_SSL=false
