{# TDX VM XML Definition #}
{% if tdx_enabled | default(true) %}
<domain type='kvm' xmlns:qemu='http://libvirt.org/schemas/domain/qemu/1.0'>
  <name>{{ vm_name }}</name>
  <memory unit='MiB'>{{ vm_memory_mb }}</memory>
  <memoryBacking>
    <source type='anonymous'/>
    <access mode='private'/>
  </memoryBacking>
  <vcpu>{{ vm_cpus }}</vcpu>
  <os>
    <type arch='x86_64' machine='pc-q35-8.2'>hvm</type>
    <loader readonly='yes' type='rom'>{{ ovmf_code_path }}</loader>
    <boot dev='hd'/>
  </os>
  <features>
    <acpi/>
    <apic/>
    <ioapic driver='qemu'/>
  </features>
  <cpu mode='host-passthrough'/>
  <clock offset='utc'>
    <timer name='hpet' present='no'/>
  </clock>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>destroy</on_crash>
  <seclabel type='none'/>
  <launchSecurity type='tdx'>
    <policy>{{ tdx_policy }}</policy>
    <quoteGenerationService>
      <SocketAddress type='vsock' cid='2' port='{{ qgs_vsock_port | default(4050) }}'/>
    </quoteGenerationService>
  </launchSecurity>
  <devices>
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='{{ vm_disk_path }}'/>
      <target dev='vda' bus='virtio'/>
    </disk>
    <disk type='file' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <source file='{{ cloud_init_iso_path }}'/>
      <target dev='sda' bus='sata'/>
      <readonly/>
    </disk>
    <controller type='usb' index='0' model='qemu-xhci'/>
    <controller type='virtio-serial' index='0'/>
    <!-- Network interface is configured via qemu:commandline for user-mode networking with port forwarding -->
    <!-- Serial console logs to file for debugging -->
    <serial type='file'>
      <source path='/var/log/libvirt/qemu/{{ vm_name }}-serial.log'/>
      <target port='0'/>
    </serial>
    <console type='file'>
      <source path='/var/log/libvirt/qemu/{{ vm_name }}-serial.log'/>
      <target type='serial' port='0'/>
    </console>
    <channel type='unix'>
      <target type='virtio' name='org.qemu.guest_agent.0'/>
    </channel>
    <input type='mouse' bus='ps2'/>
    <input type='keyboard' bus='ps2'/>
    <audio id='1' type='none'/>
    <watchdog model='itco' action='reset'/>
    <memballoon model='virtio'/>
    <vsock model='virtio'>
      <cid auto='yes'/>
    </vsock>
  </devices>
  <qemu:commandline>
    <qemu:arg value='-device'/>
    <qemu:arg value='virtio-net-pci,netdev=nic0,bus=pcie.0,addr=0x5'/>
    <qemu:arg value='-netdev'/>
    <qemu:arg value='user,id=nic0,hostfwd=tcp::{{ vm_ssh_port }}-:22,hostfwd=tcp::{{ recording_oracle_port }}-:{{ recording_oracle_port }},hostfwd=tcp::{{ tdx_proxy_host_port | default(8082) }}-:8081'/>
  </qemu:commandline>
</domain>
{% else %}
{# Standard KVM VM (no TDX) #}
<domain type='kvm'>
  <name>{{ vm_name }}</name>
  <memory unit='MiB'>{{ vm_memory_mb }}</memory>
  <vcpu>{{ vm_cpus }}</vcpu>
  <os>
    <type arch='x86_64' machine='q35'>hvm</type>
    <boot dev='hd'/>
  </os>
  <features>
    <acpi/>
    <apic/>
  </features>
  <cpu mode='host-passthrough'/>
  <devices>
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='{{ vm_disk_path }}'/>
      <target dev='vda' bus='virtio'/>
    </disk>
    <disk type='file' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <source file='{{ cloud_init_iso_path }}'/>
      <target dev='sda' bus='sata'/>
      <readonly/>
    </disk>
    <interface type='network'>
      <source network='default'/>
      <model type='virtio'/>
    </interface>
    <serial type='pty'>
      <target port='0'/>
    </serial>
    <console type='pty'>
      <target type='serial' port='0'/>
    </console>
  </devices>
</domain>
{% endif %}
