VITE_APP_CAMPAIGN_LAUNCHER_API_URL="http://localhost:5100"
VITE_APP_RECORDING_ORACLE_API_URL="http://localhost:5101"
VITE_APP_WALLETCONNECT_PROJECT_ID=replace-me
VITE_APP_WEB3_ENV="localhost"

VITE_APP_EXCHANGE_ORACLE_ADDRESS=replace-me
VITE_APP_RECORDING_ORACLE_ADDRESS=replace-me
VITE_APP_REPUTATION_ORACLE_ADDRESS=replace-me

VITE_APP_STAKING_DASHBOARD_URL=replace-me
