name: Lint check

permissions:
  contents: read

on:
  push:
    branches:
      - "main"
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Enable corepack
        run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: yarn
          cache-dependency-path: '**/yarn.lock'
      - name: Install root dependencies
        run: yarn
      - name: Run setup
        run: yarn setup
      - name: Run lint
        run: yarn lint
      - name: Run typecheck
        run: yarn typecheck
