name: ci-test-service

permissions:
  contents: read

on:
  workflow_call:
    inputs:
      working-directory:
        description: "Relative path to the service root"
        required: true
        type: string

jobs:
  test:
    name: Run unit tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Enable corepack
        run: corepack enable

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: yarn
          cache-dependency-path: "**/yarn.lock"

      - name: Install dependencies
        run: yarn

      - name: Run test
        run: yarn test
